// top
.top-10 {
    top: 10%;
}

.top-20 {
    top: 20%;
}

.top-23 {
    top: 60px;
}

.top-30 {
    top: 30%;
}

.top-47 {
    top: 47%;
}

// right
.right-6 {
    right: 6%;
}

.right-10 {
    right: 10%;
}

.right-40 {
    right: 47%;
}

// left
.left-6 {
    left: 6%;
}

.left-10 {
    left: 10%;
}

// width
.w-30 {
    width: 30%;
}

.w-40 {
    width: 40%;
}

.w-50 {
    width: 50%;
}

.w-65 {
    width: 65%;
}

// font-size
.f-14 {
    font-size: 14px;
}


.display-n {
    display: none;
}

.cursor-p {
    cursor: pointer;
}

.bg-sidebar {
    background-color: #d3e4fc;
}